* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /* background-color: rgb(255, 65, 65); */
    color: black;
    /* min-height: 100%;
    width: 100%; */
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logox {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1.5px solid transparent;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.border:hover {
    border: 1.5px solid white;
}

.add-first {
    color: #cccccc;
    font-size: 0.8vw;
    margin-left: 15px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.add-second {
    font-size: 1vw;
    margin-left: 3px;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 68vw;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 51px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1vw;
    border: none;
    padding-left: 5px;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    font-size: 1.2vw;
    background-color: #febd68;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-search:hover {
    border: 2px solid orange;
}

span {
    font-size: 0.7vw;
}

.nav-second {
    font-size: 0.85vw;
    font-weight: 700;
}

.nav-cart i {
    font-size: 1vw;
    margin-right: 2px;
}

.nav-cart {
    font-size: 0.85vw;
    font-weight: 700;
    flex-direction: row;
    align-items: center;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    z-index: 10;
}

.panel-all a {
    font-size: 13px;
}

.panel-options {
    width: 70%;
    font-size: 0.85vw;
}

.panel-options a {
    margin-left: 20px;
    display: inline;
}

.panel-deals {
    font-size: 0.9vw;
    font-weight: 700;
}

.hover-cursor {
    cursor: pointer;
    text-decoration: none;
}

.hover-cursor:hover {
    cursor: pointer;
    text-decoration: underline;
}


/* Hero Section------------------------ */
.hero-section {
    height: 600px;
    position: relative;
}

.heroImages {
    display: flex;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.heroImages img {
    display: block;
    min-width: 100%;
    animation: moveleft 15s infinite linear;
}

@keyframes moveleft {

    0% {
        /* opacity: 0; */
        transform: none;
    }

    10% {
        /* opacity: 0; */
        transform: translateX(0%);
    }

    20% {
        /* opacity: 0; */
        transform: translateX(-100%);
    }

    25% {
        /* opacity: 0; */
        transform: translateX(-100%);
    }

    40% {
        /* opacity: 0; */
        transform: translateX(-200%);
    }

    45% {
        /* opacity: 0; */
        transform: translateX(-200%);
    }

    60% {
        /* opacity: 0; */
        transform: translateX(-300%);
    }

    65% {
        /* opacity: 0; */
        transform: translateX(-300%);
    }

    80% {
        /* opacity: 0; */
        transform: translateX(-400%);
    }

    83% {
        /* opacity: 0; */
        transform: translateX(-400%);
    }


    95% {
        /* opacity: 1; */
        transform: translateX(-500%);
    }

    100% {
        /* opacity: 1; */
        transform: translateX(-500%);
    }

}



.hero-msg {
    content: "";
    position: absolute;
    top: 300px;
    height: 300px;
    width: 100%;
    /* background-color: rebeccapurple; */
    background: linear-gradient(rgb(226, 231, 232, 0), rgba(98, 98, 98, 0.9));
    display: flex;
    justify-content: center;
}

.hero-msg-inner {
    color: black;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 96.5%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #007185;
}



/* Shop Section ------------------------------------- */
.shop-section {
    content: "";
    position: absolute;
    top: 480px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background-color: #e2e7e8; */
    background: linear-gradient(rgba(226, 231, 232, 0.5), rgba(226, 231, 232, 1));
    /* background-color: red; */
    height: 3000px;
}

.box {
    background-color: white;
    height: 440px;
    width: 23vw;
    padding: 20px 0px 15px;
    /* margin-top: 1px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.box-img {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    max-width: 20vw;
}


.allBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 8px;
}

.boxes {
    cursor: pointer;
}

.boxes-img {
    height: 120px;
    width: 9vw;
    margin: 20px 8px 0px 5px;
}

.box-content .allBoxes .boxes p {
    font-size: 10px;
    margin-left: 5px;
    color: black;
    margin: 10px 10px 10px;
}

.box h2 {
    /* margin-bottom: 0.1vw; */
    margin-left: 10px;
    font-size: 1.5vw;
}

.box-content {
    margin-left: 10px;
    margin-right: 10px;
}

.box-content a {
    color: #007185;
    margin: 10px 10px 10px;
    font-size: 0.8rem;
    display: inline-block;
}

.box-content .singleImageDiv {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.box-content .redColorImage {
    width: 330px;
    margin: auto;
}


.box-content .colorPara {
    margin-top: 20px;
}




/* ------------- Row Box */
.rowBox {
    background-color: rgb(255, 255, 255);
    height: 330px;
    width: 96.7%;
    padding: 20px 0px 15px;
}

.rowBox .box-contentRow {
    margin-left: 10px;
    margin-right: 10px;
}

.rowBox h2 {
    margin-bottom: 30px;
    margin-left: 10px;
}

.box-contentRow .imageRowBox {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.box-contentRow .imageRowBox img {
    width: 100%;
    height: 100%;
    margin: 10px 17px;
    cursor: pointer;
    padding-bottom: 20px;
}

.box-contentRow .imageRowBox img:first-child {
    margin-left: 0px;
}

::-webkit-scrollbar {
    height: 5px;
    padding-top: 10px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
}



/* --------------------------Sign In Box */
.rowBoxSignin {
    content: "";
    position: absolute;
    /* top: 3530px; */
    top: 3530px;
    /* background-color: rebeccapurple; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.rowBoxSigninInner {
    padding: 10px;
}

.rowBoxSigninInner p:first-child {
    font-size: 13px;
    font-weight: 500;
}

.rowBoxSigninInner p:last-child {
    font-size: 12px;
    font-weight: 500;
}

.rowBoxSigninInner p a {
    color: #007185;
    text-decoration: none;
}

.rowBoxSigninInner .signinBtn {
    display: inline-block;
    width: 95%;
    margin: 8px 0px;
    padding: 5px;
    font-size: 13px;
    font-weight: 600;
    color: black;
    background-color: #FFC532;
    border-radius: 5px;
    border: 1px solid #e6af24;
}


/* ----------------------------Footer Start */
footer {
    content: "";
    position: absolute;
    top: 3755px;
    width: 100%;
    margin-top: 15px;
}


/* ----------- Footer Panel 1------- */
.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    cursor: pointer;
}



/* ----------- Footer Panel 2------- */
.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 ul {
    margin-top: 35px;
}

ul p {
    font-size: 1.1vw;
}

ul a {
    display: block;
    font-size: 0.9vw;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}

ul a:hover {
    text-decoration: underline;
}



/* ----------- Footer Panel 3------- */
.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid rgb(81, 81, 81);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-panelInner3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footPanelBox {
    /* padding: 8px 20px 8px 10px; */
    height: 30px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #858585;
    color: rgb(210, 210, 210);
}

.foot-panelInner3 .footPanelBox {
    display: flex;
    margin: 0px 4px;
    font-size: 13px;
}

.lang {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: px 20px 6px 10px; */
}

.foot-panelInner3 .footPanelBox img {
    width: 20px;
    margin-right: 7px;
    padding: 0px 0px 0px 2px;
}

.foot-panelInner3 .footPanelBox span {
    font-size: 15px;
    margin-right: 7px;
    display: inline-block;
    color: rgb(255, 255, 255);
}


.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    width: 105px;
    margin-right: 40px;
}



/* ----------- Footer Panel 5------- */
.footPanel5Outsider {
    background-color: #131A22;
}

.foot-panel5 {
    padding: 30px 18vw 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footPanel5InnerBox {
    /* width: 95px; */
    width: 119px;
    height: 80px;
    /* background-color: rgb(128, 19, 131); */
    margin: 10px 0.5vw;
    color: white;
    cursor: pointer;
}

.footPanel5InnerBox:hover {
    text-decoration: underline;
}

.footPanel5InnerBox h5 {
    color: rgb(222, 221, 221);
    font-weight: 500;
    font-size: 12px;
}

.footPanel5InnerBox p {
    color: rgb(165, 164, 164);
    font-weight: 500;
    font-size: 12px;
}


.footPanelSecondPart {
    padding: 0px 210px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}



/* ----------- Footer Panel 4------- */
.foot-panel4 {
    color: white;
    height: 100px;
    font-size: 0.7rem;
    text-align: center;
}

.pages {
    padding-top: 25px;
}

.pages a {
    color: white;
    text-decoration: none;
    margin: 0px 8px;
}

.pages a:hover {
    text-decoration: underline;
}

.copyright {
    padding-top: 5px;
}

.mobileViewDisplay {
    display: none;
}



/* ------------------ 1300px  */
@media (max-width:1300px) {

    .add-first {
        font-size: 0.9vw;
    }

    .add-second {
        font-size: 1.2vw;
    }

    .nav-search {
        width: 60vw;
    }

    .search-input {
        font-size: 1.2vw;
    }

    .search-icon {
        width: 40px;
        font-size: 1.2vw;
    }

    .nav-search:hover {
        border: 2px solid orange;
    }

    span {
        font-size: 0.9vw;
    }

    .nav-second {
        font-size: 1.2vw;
    }

    .nav-cart i {
        font-size: 1.8vw;
    }

    .nav-cart {
        font-size: 0.9vw;
    }

    /* Panel ------------------ */

    .panel {
        font-size: 0.9vw;
    }

    .panel-options {
        font-size: 0.9vw;
    }

    .panel-deals {
        font-size: 0.9vw;
    }



    /* Shop Section--------------------- */

    .shop-section {
        top: 480px;
        width: 100vw;
        height: 2900px;
    }

    .box {
        padding: 20px 0px 5px;
        height: 400px;
    }

    .box-img {
        height: 23vw;
        max-width: 21vw;
    }


    .allBoxes {
        padding: 0px 4px;
    }

    .boxes-img {
        height: 100px;
        width: 9.2vw;
        margin: 20px 5px 0px 5px;
    }


    .box h2 {
        font-size: 1.4vw;
        margin-bottom: 2px;
    }


    /* --------------------------Sign In Box */
    .rowBoxSignin {
        top: 3430px;
        height: 15vw;
    }



    /* ----------------------------Footer Start */
    footer {
        top: 3640px;
    }

    /* ----------------------------Footer 2 */

    ul p {
        font-size: 1.3vw;
    }

    ul a {
        font-size: 1vw;
    }



    /* ----------- Footer Panel 5------- */
    .foot-panel5 {
        padding: 30px 13vw 0px;
    }

    .footPanel5InnerBox {
        width: 8vw;
        height: 6.8vw;
        margin: 10px 0.9vw;
    }

    .footPanel5InnerBox h5 {
        font-size: 1.1vw;
    }

    .footPanel5InnerBox p {
        font-size: 0.9vw;
    }


    /* ------------ Footer Panel 5 Inner Part */
    .footPanelSecondPart {
        padding: 0px 18vw;
    }


    /* ------------ Footer Panel 4 */
    .foot-panel4 {
        font-size: 1.1vw;
    }

    .pages {
        padding-top: 30px;
    }

}


/* ------------------ 1050px  */
@media (max-width:1050px) {

    .nav-logo {
        height: 40px;
        width: 90px;
    }

    .logo {
        height: 40px;
        width: 100%;
    }

    .add-first {
        font-size: 1.3vw;
    }

    .add-second {
        font-size: 1.6vw;
    }

    .nav-search {
        width: 50vw;
        height: 35px;
    }

    .nav-search select {
        font-size: 1.4vw;
    }

    .search-input {
        font-size: 1.5vw;
    }

    .search-icon {
        width: 30px;
        font-size: 1.2vw;
    }

    span {
        font-size: 1.3vw;
    }

    .nav-second {
        font-size: 1.6vw;
    }

    .nav-cart i {
        font-size: 1.8vw;
        margin-right: 3px;
    }

    .nav-cart {
        font-size: 1.3vw;
    }

    /* Panel ------------------ */


    .panel {
        font-size: 1.3vw;
    }

    .panel-options {
        font-size: 1.3vw;
    }

    .panel-deals {
        font-size: 1.3vw;
    }



    /* Hero Section ------------------------------------ */

    .hero-section {
        height: 45vw;
    }

    .hero-msg {
        top: 20vw;
        height: 25vw;
        /* background-color: red; */
    }

    .hero-msg-inner {
        font-size: 1.5vw;
    }



    /* Shop Section--------------------- */

    .shop-section {
        top: 42vw;
        /* top: 480px; */
        width: 100vw;
        height: 550vw;
        display: flex;
        /* align-items: center; */
    }

    .box {
        padding: 10px 0px 5px;
        /* height: 410px; */
        height: 50vw;
        /* max-he: 500px; */
        width: 42vw;
        margin: 0px 10px;
        border-radius: 10px;
    }

    .box-img {
        height: 25vw;
        max-width: 33vw;
    }

    .singleImageDiv p {
        text-align: center;
    }


    .boxes {
        margin: 5px 12px;
    }


    .allBoxes {
        /* padding: 0px 4px; */
        /* padding: 0px 0.1vw; */
        padding: 0px 0.1vw;
    }

    .boxes-img {
        height: 13vw;
        /* width: 12vw; */
        width: 15vw;
        margin: 1px;
    }

    .box-content .allBoxes .boxes p {
        font-size: 1.3vw;
    }

    .box h2 {
        font-size: 1.8vw;
        margin-left: 4px;
        text-align: center;
        margin-bottom: 15px;
    }

    .box-content p {
        color: #007185;
        margin: 1vw 0.5vw 1vw 2vw;
        font-size: 1.2vw;
        display: inline-block;
    }



    /* ------------- Row Box */
    .rowBox {
        background-color: rgb(255, 255, 255);
        height: 35vw;
        width: 96.7%;
        padding: 20px 0px 15px;
    }

    .rowBox h2 {
        font-size: 1.8vw;
    }

    .box-contentRow .imageRowBox img {
        width: 20vw;
        height: 20vw;
        margin: 10px 17px;
        cursor: pointer;
        padding-bottom: 20px;
    }


    /* --------------------------Sign In Box */

    .rowBoxSignin {
        top: 547vw;
    }


    /* ----------------------------Footer Start */
    footer {
        top: 565vw;
    }



    /* ----------------------------Footer 2 */
    .foot-panel2 {
        height: 35vw;
    }

    ul p {
        font-size: 1.6vw;
    }

    ul a {
        font-size: 1.3vw;
    }



    /* ----------------------------Footer 3 */
    .foot-panel3 {
        height: 13vw;
    }

    .footPanelBox {
        height: 3vw;
        width: 15vw;
    }

    .foot-panelInner3 .footPanelBox {
        font-size: 1.4vw;
    }

    .foot-panelInner3 .footPanelBox img {
        width: 2vw;
    }

    .foot-panelInner3 .footPanelBox span {
        font-size: 1.5vw;
    }


    .logo {
        width: 90px;
        padding-bottom: 25px;
        margin-right: 30px;
    }



    /* ----------- Footer Panel 5------- */
    .foot-panel5 {
        padding: 30px 14vw 0px;
    }

    .footPanel5InnerBox {
        width: 8vw;
        height: 6.8vw;
        margin: 10px 0.9vw;
    }


    .footPanel5InnerBox h5 {
        font-size: 1.2vw;
    }

    .footPanel5InnerBox p {
        font-size: 1vw;
    }



    /* ------------ Footer Panel 5 Inner Part */
    .footPanelSecondPart {
        padding: 0px 18vw;
    }


    /* ------------ Footer Panel 4 */
    .foot-panel4 {
        font-size: 1.3vw;
    }

    .pages {
        padding-top: 4vw;
    }


}


/* ------------------ 650px  */
@media (max-width:650px) {

    .navbar {
        height: 80px;
        position: relative;
        padding: 0px 5px;
    }

    .nav-logo {
        min-height: 50px;
        width: 100px;
        /* background-color: rebeccapurple; */
        display: none;
    }

    .logox {
        /* background-image: url("amazon_logo.png");
        background-size: cover;
        background-position: center;
        height: 50px;
        width: 70px; */
        /* display: none; */
    }

    .border:hover {
        border: 1.5px solid transparent;
    }

    .add-first {
        font-size: 1.4vw;
        margin-left: 9px;
    }

    .add-second {
        font-size: 1.8vw;
    }

    .add-icon i {
        font-size: 8px;
    }

    .nav-search {
        width: 80vw;
        height: 40px;
        position: relative;
    }

    .search-select {
        width: 60px;
        padding: 10px;
    }

    .nav-search select {
        font-size: 15px;
        appearance: none;
    }

    .nav-search::after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 5px;
        height: 5px;
        border-right: 1px solid rgb(0, 0, 0);
        border-bottom: 1px solid rgb(0, 0, 0);
        left: 41px;
        top: 60%;
        transform: rotate(45deg);
        margin-top: -8px;
        cursor: pointer;
    }

    .search-input {
        font-size: 12px;
        padding-left: 7px;
    }

    .search-icon {
        width: 40px;
        font-size: 13px;
    }


    /* Panel ------------------ */

    .panel {
        font-size: 12px;
        height: 40px;
        padding: 0px 2px;
    }

    .panel-all i {
        margin-right: 5px;
    }

    .panel-options {
        font-size: 11px;
        width: auto;
    }

    .panel-options a {
        display: inline-block;
    }

    .panel-deals {
        font-size: 1.9vw;
    }


    /* Mobile View ------------------------ */
    .mobileView {
        display: none;
    }

    .mobileViewDisplay {
        content: "";
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 50px;
        background-color: rgb(255, 255, 255);
        /* background-color: red; */
        color: black;
        z-index: 100;
        display: block;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .mobileViewDisplay ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3px 15%;
    }

    .mobileViewDisplay ul li {
        list-style: none;
    }

    .mobileViewDisplay ul li a {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: black;
    }

    .mobileViewDisplay ul li a p {
        font-size: 13px;
    }

    .mobileViewDisplay ul li a i {
        margin-bottom: 2px;
        font-size: 13px;
    }



    /* Hero Section ------------------------------------ */

    .hero-section {
        height: 40vw;
        /* height: 140px; */
    }

    .hero-msg {
        top: 22vw;
        height: 20vw;
        /* background-color: red;/ */
    }

    .hero-msg-inner {
        font-size: 1.5vw;
        height: 7vw;
    }




    /* Shop Section--------------------- */


    .shop-section {
        position: absolute;
        margin-top: 100px;
        max-width: 100%;
        height: 2010vw;
        background-color: rgb(222, 222, 222);
        display: flex;
    }

    /* BOx------------------------------------ */

    .box {
        padding: 5px 10px 5px;
        height: 103vw;
        margin-bottom: 10px;
        background-color: rgb(255, 255, 255);
        flex-basis: 100%;
        border-radius: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .box h2 {
        font-size: 4vw;
        margin: 5px 0px;
        text-align: left;
    }

    .box-img {
        height: 70vw;
        max-width: 80vw;
    }

    .box-content .redColorImage {
        width: 500px;
        margin: auto;
    }

    .allBoxes {
        padding: 0px;
    }

    .background-img {
        background-color: rgb(238, 237, 237);
        padding: 4.7vw;
        margin-bottom: -6px;
    }

    .boxes {
        margin: 4px 0px;
        height: 40vw;
    }

    .boxes-img {
        height: 25vw;
        width: 36vw;
        /* margin: 1px 1px 0px 1px;
        margin-bottom: 10px; */
    }

    .box-content {
        margin-left: 0px;
        margin-right: 0px;
    }

    .box-content .allBoxes .boxes p {
        font-size: 2.5vw;
        margin-left: 5px;
    }

    .box-content .hover-cursor {
        margin-left: 0px;
        margin-top: 1vw;
        font-size: 3vw;
    }


    /* ------------- Row Box */
    .rowBox {
        background-color: rgb(255, 255, 255);
        height: 60vw;
        width: 93vw;
        padding: 20px 0px 15px;
        border-radius: 10px;
        margin-left: 10px;
        margin-bottom: 30px;
    }

    .rowBox h2 {
        font-size: 4vw;
        margin-bottom: 30px;
    }

    .box-contentRow .imageRowBox img {
        width: 25vw;
        height: 35vw;
        margin: 0px 17px;
        cursor: pointer;
        padding-bottom: 20px;
    }



    /* --------------------------Sign In Box */

    .rowBoxSignin {
        top: 2060vw;
        /* top: 2100vw; */
        height: 30vw;
        /* padding-bottom: 20px; */
    }

    .rowBoxSigninInner p:first-child {
        font-size: 1.8vw;
        font-weight: 500;
    }

    .rowBoxSigninInner p:last-child {
        font-size: 1.8vw;
        font-weight: 500;
    }

    .rowBoxSigninInner button {
        width: 50%;
        margin: 8px 0px;
        padding: 5px;
        font-size: 1.8vw;
    }


    /* ----------------------------Footer Start */
    footer {
        top: 2000vw;
    }

    .foot-panel1 {
        font-size: 2vw;
    }


    /* ----------------------------Footer 2 */


    .foot-panel2 {
        height: 50vw;
    }

    ul p {
        font-size: 1.8vw;
    }

    ul a {
        font-size: 1.5vw;
    }



    /* ----------------------------Footer 3 */
    .foot-panel3 {
        height: 14vw;
    }

    .footPanelBox {
        height: 3vw;
        width: 15vw;
    }

    .foot-panelInner3 .footPanelBox {
        font-size: 1.4vw;
    }

    .foot-panelInner3 .footPanelBox img {
        width: 2vw;
    }

    .foot-panelInner3 .footPanelBox span {
        font-size: 1.5vw;
    }

    .logo {
        width: 50px;
        margin-right: 20px;
    }


    /* ----------- Footer Panel 5------- */
    .foot-panel5 {
        padding: 30px 12vw 0px;
    }

    .footPanel5InnerBox {
        width: 8vw;
        height: 6.8vw;
        margin: 10px 0.9vw;
    }


    .footPanel5InnerBox h5 {
        font-size: 1.3vw;
    }

    .footPanel5InnerBox p {
        font-size: 1.1vw;
    }



    /* ------------ Footer Panel 5 Inner Part */
    .footPanelSecondPart {
        padding: 0px 18vw;
    }


    /* ------------ Footer Panel 4 */
    .foot-panel4 {
        font-size: 1.3vw;
        height: 70px;
    }

    .pages {
        padding-top: 6vw;
    }

    .copyright {
        padding-bottom: 60px;
    }
}